export(fit_cm)
export(fit_bridge)
export(fit_adjoint)
export(moment_loss)
export(poly_basis)
export(rbf_kernel)
S3method(predict,cmbridge_fit)
S3method(fitted,cmbridge_fit)
S3method(print,cmbridge_fit)
importFrom(splines,bs)
